.conte0 {
    background-color: yellow;
}

.conte1 {
    background-color: black;
}

.conte2 {
    background-color: red;
}

.conte3 {
    background-color: green;
}

.conte4 {
    background-color: blue;
}